<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    <title>Document</title>
</head>
<body>

<div class="container">
    <form id="writeForm" method="post" enctype="multipart/form-data">
        <!-- 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
        <div id="temp" style="display: none"></div>

        제목 : <input id="title" type="text">

        <textarea id="summernote" name="content"></textarea>

        <!-- 임시저장과 저장 버튼 -->

    </form>
    <input type="submit" name="submit" value="save" onclick="writeAction()"/>
</div>










<script>
    // 수정페이지에서 원시 코드 보존을 통한 코드 깨짐 방지
    window.onload = function () {
        $('#summernote').summernote('code', document.getElementById('temp').innerHTML)
    }

    let fileList = [];
    //when the picfiles change check fileList
    function checkFileList(u, url){
        if(u == "upload"){
            fileList.push(url);
        }else{

            for(let i=0; i<fileList.length; i++){
                if(fileList[i] === url){
                    fileList.splice(i, 1);
                    i--;
                }
            }
        }
    }


    $(document).ready(function () {
        $('#summernote').summernote({
            // 썸머노트 옵션 설정
            codeviewFilter: false,
            codeviewIframeFilter: false,
            disableXSSProtection: true,
            height: 500,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: 'ko-KR',
            toolbar: [
                // 스타일 관련 기능
                ['style', ['style']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 글꼴 스타일
                ['font', ['bold', 'underline', 'clear']],
                // 글자 색상
                ['color', ['color']],
                // 테이블 삽입
                ['table', ['table']],
                // 문단 스타일
                ['para', ['paragraph']],
                // 에디터 높이 설정
                ['height', ['height']],
                // 이미지, 링크, 동영상 삽입
                ['insert', ['picture', 'link', 'video']],
                // 코드 보기, 전체화면, 도움말
                ['view', ['codeview', 'fullscreen', 'help']],
            ],
            fontSizes: [
                // 글자 크기 선택 옵션
                '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
            ],
            styleTags: [
                // 스타일 태그 옵션
                'p',
                { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
                'pre',
                { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
                { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
                'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
            ],

            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name
                        var caption = prompt('이미지 설명:', fileName)
                        if (caption == '') {
                            caption = 'img'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
                onMediaDelete: function ($target, editor, $editable) {
                    // 삭제된 이미지의 파일 이름을 알아내기 위해 split 활용
                    if (confirm('이미지를 삭제하시겠습니까?')) {
                        var deletedImageUrl = $target.attr('src').split('/').pop()

                        // ajax 함수 호출
                        deleteSummernoteImageFile(deletedImageUrl)
                    }
                },
            },
        })
    })

    // 이미지 업로드 ajax
    function uploadSummernoteImageFile(file, el, caption) {

        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        const name = $("#userName").val();

        data = new FormData()
        data.append('file', file)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'uploadSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            beforeSend : function(xhr){
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {

                $(el).summernote(
                    'editor.insertImage',
                    data.url,
                    function ($image) {
                        $image.attr('alt', caption) // 캡션 정보를 이미지의 alt 속성에 설정
                    }
                );

                checkFileList("upload", data.url);
            },
        })
    }

    // 이미지 삭제 ajax
    function deleteSummernoteImageFile(imageName) {

        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        const name = $("#userName").val();


        data = new FormData()
        data.append('file', imageName)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'deleteSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            beforeSend : function(xhr){
                xhr.setRequestHeader(header, token);
            },success: function (data) {
                alert(data.url);
                checkFileList("delete", data.url);
            },
        })
    }

    function writeAction()
    {
        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        const name = $("#userName").val();

        const content = $("#summernote").val();
        const title = $("#title").val();

        const data = {content:content
                        , title:title
                        , fileList:fileList
        }
        $.ajax({
            url : '/writeAction',
            data : data,
            type : 'POST',
            beforeSend: function( xhr ) {
                 xhr.setRequestHeader(header, token);
            }
        }).done(function (data) {
            alert(data);

        }).fail(function (res) {


        })
        ;


    }


</script>
</body>
</html>




</body>
</html>